<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin-Login</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" /> <!-- https://fonts.google.com/ -->
    <link href="/public/stylesheets/bootstrap.min.css" rel="stylesheet" /> <!-- https://getbootstrap.com/ -->
    <link href="fontawesome/css/all.min.css" rel="stylesheet" /> <!-- https://fontawesome.com/ -->
    <link href="stylesheets/templatemo-diagoona.css" rel="stylesheet" />
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <meta name="theme-color" content="#009578">
    <link rel="manifest" href="../manifest.json">

    <script type="text/javascript">
        function dele(){
         alert("Delete Request?");
        }
    </script>

    <title>Document</title>
</head>
<body>



    <body>
        <div class="tm-container">        
            <div>
                <div class="tm-row pt-4">
                    <div class="tm-col-left">
                        <div class="tm-site-header media" style="color: rgb(0, 0, 0);">
                            <i class="fa fa-male fa-3x mt-1 tm-logo"></i><i class="fa fa-female fa-3x mt-1 tm-logo"></i>
                            <div class="media-body">
                                <h1 class="tm-sitename text-uppercase" style="color: rgb(255, 255, 255);">DOCKCHAIN</h1>
                                <p class="tm-slogon">Document Verification using Blockchain</p>
                            </div>        
                        </div>
                    </div>
                    <div class="tm-col-right">
                        <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                            <button class="navbar-toggler toggler-example mr-0 ml-auto" type="button" 
                                data-toggle="collapse" data-target="#navbar-nav" 
                                aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                                <span><i class="fas fa-bars"></i></span>
                            </button>
                            <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                                <ul class="navbar-nav text-uppercase">
                                    <li class="nav-item active">
                                        <a class="nav-link tm-nav-link" href="#">Admin <span class="sr-only">(current)</span></a>
                                    </li>
                                    
                                
                                </ul>                            
                            </div>                        
                        </nav>
                    </div>
                </div>
                
                <!-- from here -->
    <div class="container">
        <div class="row">
			<% for(var i=0; i <data.length; i++) { %>
			<div class="col-md-4">
				<div class="thumbnail">
					<div class="caption">
                        <h3><i>from:</i><%= data[i].email%></h3>
						<h3><%= data[i].documentType%></h3>
                        <h4><%= data[i].docId%></h4>

                        <img src="/images/<%= data[i].image %>" class = "img-thumbnail" width="250px" height="250px">
                        
                        <!-- <form action="setDocument">
                        <input type="submit" class="btn btn-primary" value="Upload to Blockchain">
                        </form> -->
                        <br><input type="button" class="btn btn-secondary" value="Local verification ">
                        <a href="setDocument">
                            <input type="button" class="btn btn-primary" value="Upload to Blockchain">
                        </a>
                    <br><br>
                        <form method="post" action="/request/delete">
							<input id="del" name="del" type="hidden" value="<%= data[i]._id %>">
							<input type="submit"  class = "btn btn-danger" name="Delete" value="Already Uploaded" id="delreq" onclick="dele()">
                        </form>
					</div>
				</div>
			</div>
			<% } %>
		</div> 
    </div>
    <!-- ends here -->



            </div>        
    
            <div class="tm-row">
                <div class="tm-col-left text-center">            
                    <ul class="tm-bg-controls-wrapper">
                        <li class="tm-bg-control active" data-id="0"></li>
                        <li class="tm-bg-control" data-id="1"></li>
                        <li class="tm-bg-control" data-id="2"></li>
                    </ul>            
                </div>        
                <div class="tm-col-right tm-col-footer">
                    <footer class="tm-site-footer text-right">
                        <p class="mb-0">Copyright 2020 Diagoona Co. 
                        
                        | Design: <a rel="nofollow" target="_parent" href="https://templatemo.com" class="tm-text-link">TemplateMo</a></p>
                    </footer>
                </div>  
            </div>
    
            <!-- Diagonal background design -->
            <div class="tm-bg">
                <div class="tm-bg-left"></div>
                <div class="tm-bg-right"></div>
            </div>
        </div>
    
        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/templatemo-script.js"></script>
        <script src="javascripts/jquery-3.4.1.min.js"></script>
        <script src="javascripts/bootstrap.min.js"></script>
        <script src="javascripts/jquery.backstretch.min.js"></script>
        <script src="javascripts/templatemo-script.js"></script>
        <script src="javascripts/script.js"></script>




   
</body>
</html>